@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
  color: #1D1E25;
}

.header {
  &-wrapper {
    display: flex;
    align-items: center;
  }

  .icon {
    .transition(transform);
    margin-left: 0.25rem;

    &_rotated {
      transform: rotate(180deg);
    }
  }

  .title {
    min-width: 20.625rem;
    margin: 0;
    cursor: pointer;
  }

  .tabs {
    width: ~'calc(100% - 15.625rem)';
    justify-content: flex-end;
    box-shadow: none;
  }

}

