<div class="wrapper foo">
  <div class="foo__info-block">
    <div class="company-logo">
      <div class="logo">
        <div class="icon">
          <img ngSrc="favicon.png" alt="logo image" height="48" width="48">
        </div>
        <div class="name">
          <h5 class="tui-text_h4">Device</h5>
          <h6 class="tui-text_h6">Компьютерный центр</h6>
        </div>
      </div>
      <p class="tui-text_body-m">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt dolores iure nam nemo nulla omnis optio praesentium rem unde.</p>
    </div>
    <div class="links-block">
<!--      todo add for -->
      <div class="links">
        <h6 class="links-header tui-text_h6">Компания</h6>
        <div class="link tui-text_body-m">Главня</div>
        <div class="link tui-text_body-m">О Нас</div>
        <div class="link tui-text_body-m">Новости</div>
        <div class="link tui-text_body-m">Каталог услуг</div>
      </div>
      <div class="links">
        <h6 class="links-header tui-text_h6">Контакты</h6>
        <div class="link tui-text_body-m">Главня</div>
        <div class="link tui-text_body-m">О Нас</div>
        <div class="link tui-text_body-m">Новости</div>
        <div class="link tui-text_body-m">Каталог услуг</div>
      </div>
      <div class="links">
        <h6 class="links-header tui-text_h6">Компания</h6>
        <div class="link tui-text_body-m">Главня</div>
        <div class="link tui-text_body-m">О Нас</div>
        <div class="link tui-text_body-m">Новости</div>
        <div class="link tui-text_body-m">Каталог услуг</div>
      </div>
    </div>
  </div>
  <div class="foo__сopyright">© Copyright 2024 Все права защищены</div>
</div>

