@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
}

.advantages-block {
  padding-top: 88px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -22.5%;
    width: 100vw;
    height: 100%;
    z-index: 2;
    background-color: #1D1E25;
  }

  .header {
    color: #ffffff;
    z-index: 3;
  }

  .text {
    color: #7E8492;
  }

  .advantages {
    display: flex;
    flex-wrap: wrap;
    z-index: 3;

    .advantage {
      display: flex;
      flex-direction: column;
      .tui-space(bottom, 12);
    }
  }
}

.quality-block {
  padding-top: 4.5rem;

  .picture {
    .img-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
      }
    }
  }

  .text {
    color: #7E8492;
  }

  .quality {
    display: flex;
    align-items: center;

    .description {
      color: #1D1E25;
      font-weight: bold;
    }
  }
}

.statistic-block {
  padding-top: 4.5rem;

  .statistic {
    display: flex;
    justify-content: space-between;

    .statistic-card {
      position: relative;

      .statistic-about {
        color: #7E8492;
        padding-bottom: 15px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 10%;
        right: -2.7rem;
        width: 1px;
        height: 80%;
        background-color: #CED1D8;

      }

      &:last-child {
        &:after {
          content: '';
          width: 0;
          height: 0;
          background-color: #fff;
        }
      }
    }
  }
}



