<ng-container *tuiLet="{
  greetingsData: greetingsData$ | async,
  advantages: {
    list: advantagesData$ | async,
    description: advantagesDescription$ | async,
  },
  quality: {
    list: qualityData$ | async,
    description: qualityDescription$ | async,
  },
  statistics: statistics$ | async,
  contacts: contactsData$ | async
} as data">
  <!-- greetings -->

  <app-greetings
    [headerText]="data.greetingsData!.headerText"
    [text]="data.greetingsData!.text"
    [imagePath]="data.greetingsData!.imagePath"
    [repairRequest]="data.greetingsData!.repairRequest"
  />

  <!-- end greetings -->

  <!--  advantages -->
  <app-advantages
    [advantages]="data.advantages.list"
    [title]="data.advantages.description?.title"
    [description]="data.advantages.description?.description"
  />
  <!-- end advantages -->

  <!-- quality -->
   <app-quality
     [qualityList]="data.quality.list"
     [title]="data.quality.description?.title"
     [description]="data.quality.description?.description"
     imagePath="assets/img/main/zp.png"
   />
  <!-- end quality-->

  <!-- statistic -->
  <app-statistic
    [statisticList]="data.statistics"
  />
  <!-- end statistic-->

  <!-- contacts-->
  <app-contacts
    imagePath="assets/img/map.png"
    [phoneNumbers]="data.contacts?.phoneNumbers"
    [address]="data.contacts?.address"
    [workTime]="data.contacts?.workTime"
    [workMode]="data.contacts?.workMode"
    [mail]="data.contacts?.email"
  />
  <!-- end contacts-->
</ng-container>
